%box{
    padding: 30px 30px 50px 30px;
}

.orange{
    @extend %box;
    background-color: $Bright-orange;
    border-radius: 5px 5px 0px 0px;
    a{
        @extend %buttonAttributes;
        color: $Bright-orange;
    }
}

.light-green{
    @extend %box;
    background-color: $Dark-cyan;
    a{
        @extend %buttonAttributes;
        color: $Dark-cyan;
    }
}

.dark-green{
    @extend %box;
    background-color: $Very-dark-cyan;
    border-radius: 0px 0px 5px 5px;
    a{
        @extend %buttonAttributes;
        color: $Very-dark-cyan;
    }
}


@mixin  font-size-color($font, $color, $size) {
    font-family: $font;
    color:$color;
    font-size: $size;
    text-transform: uppercase;
    margin: 30px 0;
}